MAPS_DATA = <%= JSON.generate($gamerist_mapdata) %>

setContinent = () ->
  $("#room_continent_name").text($("#gamerist_data_continent").val())
  console.dir($("#gamerist_data_continent_available").val())
  if(!$("#gamerist_data_continent_available").val())
   $("#room_continent_name").css("color", "hsl(0, 100%, 55%)")
   $("#room_continent").attr("title", "No server available at this continent!")

trigger_bigradio = (target) ->
  $("#room_playercount").children(".bigradiobutton").each () ->
    $(this).addClass("room_playercount_inactive")
    $(this).removeClass("room_playercount_active")
    $(this).children("input").each () ->
      $(this).prop("checked", false)
  $(target).prop("checked", true)
  $(target).parents(".bigradiobutton").addClass("room_playercount_active")
  $(target).parents(".bigradiobutton").removeClass("room_playercount_inactive")

trigger_gameradio = (target) ->
  $("#room_game").children(".gameradiobutton").each () ->
    $(this).addClass("room_gamename_inactive")
    $(this).removeClass("room_gamename_active")
    $(this).children("input").each () ->
      $(this).prop("checked", false)
  $(target).prop("checked", true)
  $(target).parents(".gameradiobutton").addClass("room_gamename_active")
  $(target).parents("label").removeClass("room_gamename_inactive")

$(document).ready () ->
  $("input").parents("#room_playercount label").each () ->
    $(this).addClass("room_playercount_inactive")
    
  $("#room_playercount label").children("input").each () ->
    $(this).attr("checked", false)
  
  $("#room_map>option:eq(0)").attr("selected", true)
  
  trigger_bigradio($("#room_playercount label").first().children("input"))
  $("#room_playercount label").first().children("input").prop("checked", "checked")
  
  $(".field_bigradio").on 'change', (e) ->
    trigger_bigradio(e.target)
  
  $(".field_room_game").on 'change', (e) ->
    trigger_gameradio(e.target)
  
  trigger_gameradio($("#room_game label").first().children("input"))
  
  $("#room_map").on 'change', (e) ->
    if($("#room_map").find(":selected").text().substring(0, 4) == "ctf_")
      $(".bigradiobutton").each ->
        if($(this).hasClass("room_playercount_active"))
          curi = $(this).children("input").val()
      $(".bigradiobutton").each ->
        if($(this).children("input").val() > 16)
          if($(this).hasClass("room_playercount_active"))
            trigger_bigradio($("#room_playercount input").first())
          $(this).css("display", "none")
        else
          $(this).css("width", "50%")
    else
      $(".bigradiobutton").each () ->
        $(this).css("display", "inline-block")
        $(this).css("width", "126px")
  
  $("#room_game").on 'change', (e) ->
    $("#room_map").html("")
    $("#room_map").append("<option></option>")
    for game in MAPS_DATA.games
      if(("room_game_" + game.name.replace(/\s/g, "_")) == $(".room_gamename_active").attr("for"))
        for map in game.maps
          $("#room_map").append("<option>" + map.name + "</option>")
      
  setTimeout(setContinent, 100)
  
