CHANGED_WAGER = false

fetchCurrentPlayer = (data) ->
  finder = (v) ->
    v.id == data.reqid
  ply = $.grep(data.rules.players, finder, false)[0]
  return ply

setReady = () ->
  $("#srules_readystatus").val("1")
  $("#srules_readybutton").val("Not Ready")
  $("#srules_readylabel").text("Ready")
  
setUnready = () ->
  $("#srules_readystatus").val("0")
  $("#srules_readybutton").val("Ready")
  $("#srules_readylabel").text("Not Ready")

toggleReady = () ->
  if($("#srules_readystatus").val() == "0")
    setReady()
  else
    setUnready()

renderPlayerList = (data) ->
  srulesPlayers = document.createElement("div")
  $(srulesPlayers).attr("id", "srules_players")
  for i in [0..(data.rules.playercount-1)]
    ply = data.rules.players[i]
    $(srulesPlayers).append("<div id='srules_player_" + i + "' class='srules_player'><div class='account_mini'><div class='account_mini_avatar'></div><div class='account_mini_name'>" + (if ply then ply.id else "") + "</div></div></div>")
  $("#srules_players").replaceWith(srulesPlayers)

updatePageObject = (data) ->
  console.dir(data)
  $("#srules_info_column_game").text("Game: " + data.rules.game)
  $("#srules_info_column_map").text("Map: " + data.rules.map)
  $("#srules_info_column_playercount").text("Players: " + data.rules.playercount)
  $("#srules_info_column_server").text("Server: " + data.rules.server)
  $("#srules_roomwager").text(data.rules.wager)
  if(!CHANGED_WAGER)
    $("#srules_wagerselector").val(data.rules.wager)
    CHANGED_WAGER = true
  curp = fetchCurrentPlayer(data)
  if(curp and curp.ready == 1)
    setReady()
  else
    setUnready()
  renderPlayerList(data)

updatePage = () ->
  comei = {"_method": "patch", "ready": $("#srules_readystatus").val()}
  if(CHANGED_WAGER)
    comei.wager = $("#srules_wagerselector").val()
  $.post(document.location + ".json", comei, updatePageObject)

$(document).ready () ->
  if $("#srules_info").length
    updatePage()
    setInterval(updatePage, 3000)
    $("#srules_wagersubmit").click () ->
      updatePage()
    $("#srules_readybutton").click () ->
      toggleReady()
      updatePage()
      
