<%= cache "Headbar" do %>
<div id="headbar">
	<div id="headbar_inner">
	  <div id="headbar_left">
		  <div id="headbar_left_content">
				  <div id="headbar_loggedin_name">
				  <noscript>Please enable Javascript</noscript>
					</div>
			</div>
		</div>
	  <div id="headbar_center">
			<a href="<%= url_for controller: '/welcome', action: :index %>" data-no-turbolink><div id="headbarlogo_link"><div id="headbarlogo"></div></div></a>
		</div>
		<div id="headbar_right">
			<div id="headbar_right_content">
			</div>
		</div>
	</div>
</div>
<% end %>

