<div id="frosted_glass">
	<div id="frosted_glass_left">
		<div id="win_games">
			Win games for money
		</div>
		<div id="win_games_mini">
      Compete in multiplayer games against other players and teams for cash.
		</div>
		</div>
	<div id="frosted_glass_right">
		<div id="fg_slideshow">
			<div id="fg_slideshow_image"></div>
			<div id="fg_slideshow_text_outer">
				<div id="fg_slideshow_text_inner">
					<div id="fg_slideshow_text_inner_content1" class="fg_slide_title">Team Fortress 2</div>
					<div id="fg_slideshow_text_inner_content2" class="fg_slide_title">Counter-Strike: Source</div>
				</div>
				<div id="fg_slideshow_icon"></div>
			</div>
		</div>
	</div>
</div>

