<h1>Listing rooms</h1>

<table id="rooms-table">
  <tr>
    <th>Owner</th>
    <th>Game</th>
    <th>State</th>
    <th>Server</th>
    <th>Ruleset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Room</a>