<div id="static_availa">
	<h2>Availability</h2>
		<p>Gamerist is only available in the following 26 regions:</p>
		<h3>Europe</h3>
		<div class="availa_column">
			United Kingdom
		</div>
		<h3>United States</h3>
		<div class="availa_column">
			Alabama<br/>Alaska<br/>California<br/>Colorado<br/>Connecticut<br/>Georgia<br/>Hawaii<br/>Idaho<br/>Illinois
		</div>
		<div class="availa_column">
			Indiana<br/>Kansas<br/>Kentucky<br/>Maine<br/>Missouri<br/>Montana<br/>New Hampshire<br/>New Mexico<br/>North Carolina
		</div>
		<div class="availa_column">
			North Dakota<br/>Oregon<br/>Texas<br/>Utah<br/>Washington<br/>Wisconsin<br/>Wyoming
		</div>
</div>
