<div id="roomslist">
<h1>Rooms</h1>
<br/>
<div id="roomslist_header">
  <div id="roomslist_header_left" class="roomslist_header_column">
    Room
  </div><div id="roomslist_header_red" class="roomslist_header_column">
    Red Team
  </div><div id="roomslist_header_blu" class="roomslist_header_column">
    Blue Team
  </div>
</div>
<div id="roomslist_pagination">
</div>
<div id="roomslist_new_room">
<button id="roomslist_new_room_button">New Room</button>
</div>
</div>
