<br/>
<div id="roomslist">
<h2>Rooms</h2>
<div id="roomslist_header">
  <div id="roomslist_header_left">
    Room
  </div><div id="roomslist_header_red">
    Red Team
  </div><div id="roomslist_header_blu">
    Blue Team
  </div>
</div>
<div id="roomslist_pagination">
</div>
</div>
<br/>
