<%= cache do %>
<div id="rooms">
  <div id="srules_info">
    <div class="srules_info_column">
      <p id="srules_info_column_game">Game: </p>
      <p id="srules_info_column_map">Map: </p>
    </div>
    <div class="srules_info_column">
      <p id="srules_info_column_playercount">Players: </p>
      <p id="srules_info_column_server">Server: Any</p>
    </div>
  </div>
  <div class="srules_hr saturatedBackground"></div>
  <div id="srules_buttons">
    <div id="srules_wager">
      <div class="srules_wagerselect srules_wagerselect_bg">
          <div id="srules_wagerselector_outer">
            <input type="number" name="room[wager]" min="<%= Room::WAGER_MIN %>" max="<%= Room::WAGER_MAX %>" value="5" id="srules_wagerselector" class="pointsIcon"></input>
          </div>
          <div id="srules_wagersubmitc">
            <input type="submit" id="srules_wagersubmit" value="Submit"></input>
          </div>
        <label id="srules_roomwager_label">Room wager:</label>
        <div id="srules_roomwager">
          5
        </div>
      </div>
    </div>
    <div id="srules_ready">
      <div class="srules_wagerselect srules_wagerselect_bg">  
        <label id="srules_readylabel">
          Not Ready
        </label>
        <div id="srules_readybutton_outer">
          <input type="hidden" id="srules_readystatus" name="room[ready]" value="0"></input>
          <input type="button" id="srules_readybutton" value="Ready"></input>
        </div>
      </div>
    </div>
  </div>
  <div class="srules_hr saturatedBackground"></div>
  <div id="srules_players_chat">
    <div id="srules_players">
      <div id="srules_player_1" class="srules_player">
        <div class="account_mini">
          <div class="account_mini_avatar">
          </div>
          <div class="account_mini_name">
          </div>
        </div>
      </div>
    </div>
    <div id="srules_chatbox" class="srules_wagerselect_bg">
      <div id="srules_chatbox_text">
      </div>
      <div id="srules_chatbox_insertzone">
        <textarea id="srules_chatbox_input"></textarea><input type="button" id="srules_chatbox_inputsubmit" value="Submit">
      </div>
    </div>
  </div>
</div>
<% end %>

