<div id="headbar">
	<div id="headbarlogo">
		<div id="headbar_left"></div>
		<a href="/"><div id="headbarlogo_link"></div></a>
	</div>
	<div id="headbar_right">
		<div id="headbar_right_content">rooms free</div>
	</div>
</div>