/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

body {text-align:center; background:black; background-image:url('/assets/background.png'); margin:0; font-family:sans-serif;}
#main {width:1024px; margin:auto; text-align:left;}

@font-face
{
font-family: "Blue Highway Regular";
src: url('/html/fonts/blue highway rg.ttf')
}

#header {margin:0; width:100%; text-align:center; height:4px; background:#d30;}
#headermain {text-align:left; width:1012px; margin:auto;}

#headbar {width:1024px; height:58px; margin-top:16px; background-repeat:repeat-x; background-image: url('/assets/head_gradient.png');}
#headbarlogo {background-image:url('/assets/gamerist.png'); float:left; width:397px; height:58px;}
#headbarlogo_link {width:397px; height:58px;}
#headbar_right {float:right; margin-top:16px;margin-right:15px; font-family:"Blue Highway Regular", sans-serif; font-size:1.25em; color:white;}

#content {width:1024px; margin:auto; background:white;}
#content_body {padding:16px;}

#frosted_glass {width:1024px; height:256px; background-image:url('/assets/crystal_field.png');}
#win_games {padding:32px; font-family:"Blue Highway Regular", sans-serif; font-size:3em; color:#ff000c; text-shadow: 4px 4px #000000;}
#win_games_mini {font-family:"Blue Highway Regular", sans-serif; font-size:1.5em; color:#ff000c; padding-left:32px; width:400px; text-shadow: 2px 2px #000000;}
#frosted_glass_left {display:inline-block; width:600px; vertical-align:top;}
#frosted_glass_right {display:inline-block; width:300px; vertical-align:top;}
#fg_slideshow {margin:16px;}
#fg_slideshow_image {height:200px; width:355px; background:black; background-image:url('/assets/slide_game_screenshots.jpg');}
#fg_slideshow_text_outer {margin-top:-24px; margin-left:-16px;}
#fg_slideshow_text_inner {background:#222; height:40px; width:300px; box-shadow:-4px 4px #952;}
#fg_slideshow_text_inner_content1 {}
#fg_slideshow_text_inner_content2 {display:none;}
.fg_slide_title {padding-left:64px; padding-top:6px; color:white; font-size:1.25em; font-family:"Blue Highway Regular"; position:absolute;}
#fg_slideshow_icon {height:48px; width:48px; background-image:url('/assets/game_logos_48.png'); background-position:0px 0px; margin-top:-44px; margin-left:4px;}

#adduser_outer {width:960px; padding:32px;}
#adduser_inner {background:#555; padding:32px; border:1px solid #888; box-shadow:4px 4px #444;}
#adduser_form {display:inline-block; width:432px; border-right:1px solid gray; vertical-align:top;}
#adduser_side {display:inline-block; width:432px; vertical-align:top; padding-left:12px;}

#flashMessage {width:960px; padding:32px; background:#d77;}

#login_page_outer {}
#login_page_inner {padding:32px;}
#login_email_username {padding:32px;}
#login_email_password {padding-left:32px;}
#UserUsername {height:32px; width:300px;}

label {display:block; }
p {margin:0; padding:0;}

.floatleft {float: left;}
.floatright {float: right;}
.shinygreen {color:#00ff33;}
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
