<div id="serverstatus_center">
  <div id="servers_triage">
    <div id="s_triage_database">
      <div id="s_triage_database_inner">&nbsp;</div>
      <div id="s_triage_database_data"></div>
    </div><div id="s_triage_redis">
      <div id="s_triage_redis_inner">&nbsp;</div>
      <div id="s_triage_redis_data"></div>
    </div><div id="s_triage_mq">
      <div id="s_triage_mq_inner">&nbsp;</div>
      <div id="s_triage_mq_data"></div>
    </div>
  </div>
  <div id="servers_game">
  </div>
</div>
