.tooltip_wrapper {
  position: relative;
  display:inline;
  border-bottom: 1px dotted #000;
}

.helper_tooltip {
    position: absolute;
    background: #444;
    padding: 2px 5px 2px 5px;
    bottom: 100%;
    color: #fff;
    display: block;
    margin-bottom: 15px;
    left:auto;
    z-index: 300;
    font-family:sans-serif;
    font-size:12px;
    width:200px;
    opacity: 0;
    pointer-events: none;
}

.tooltip_triangle {
    position: absolute;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid transparent 10px;
    bottom: -10px;
    content: "";
    height: 0;
    width: 0;
}

.tooltip_wrapper:hover .tooltip_triangle {
    opacity: 1;
    pointer-events: auto;
}

.tooltip_wrapper:hover .helper_tooltip {
    opacity: 1;
    pointer-events: auto;
}
