// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account_mini {
  width:251px;
  background-color:#222;
  color:white;
}

.account_mini_avatar {
  width:90px;
  padding:20px;
  box-sizing:border-box;
}

.account_mini_name {
  width:161px;
  padding:20px;
  box-sizing:border-box;
}
