// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account_mini {
  width:200px;
  height:50px;
  background-color:#222;
  color:white;
  box-sizing:border-box;
  vertical-align:top;
}

.account_mini_teambar_red
{
  margin:0;
  height:50px;
  width:16px;
  background-color:hsl(0, 60, 50);
  display:inline-block;
}

.account_mini_teambar_blu
{
  margin:0;
  height:50px;
  width:16px;
  background-color:hsl(180, 40, 50);
  display:inline-block;
}

.account_mini_avatar {
  width:42px;
  height:50px;
  padding:9px;
  box-sizing:border-box;
  display:inline-block;
  vertical-align:top;
}

.account_mini_name {
  width:80px;
  height:50px;
  padding:8px;
  padding-right:0px;
  box-sizing:border-box;
  display:inline-block;
  vertical-align:top;
  font-family: "Blue Highway Regular";
  font-size:1.1em;
  overflow:hidden;
}

.account_mini_wager {
  width:50px;
  height:50px;
  box-sizing:border-box;
  display:inline-block;
  vertical-align:top;
  font-family: "Blue Highway Regular";
  color:#999;
  font-size:2em;
  padding:4px;
  text-align:right;
}

#account_page {
  width:1024px;
  background:#fafafa;
  padding:24px;
  box-sizing:border-box;
}

#account_maxi {
  width:400px;
  height:500px;
  background:#333;
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
  padding:0px;
}

#account_maxi_top {
  padding:16px;
}

#account_maxi_avatar {
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
  width:80px;
  height:80px;
}

#account_maxi_avatar_right {
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
  height:64px;
}

#account_maxi_steamname {
  font-family:"Blue Highway Regular";
  font-size:2em;
  color:white;
}

#account_maxi_current_place {
  padding-top:6px;
  color:white;
  bottom:0;
  width:100%;
}

#account_maxi_current_place a {
  text-decoration: none;
}

#account_maxi_current_place a:hover {
  color:hsl(240,50,60);
}

#account_maxi_current_place a:active {
  color:hsl(240,50,60);
}

#account_maxi_current_place a:visited {
  color:hsl(240,50,60);
}

#account_maxi hr {
  height:1px;
  box-sizing:border-box;
  width:100%;
}

#account_maxi_realized {
  background-image: image-url("green_diamond.png");
  background-repeat: no-repeat;
  color:white;
  font-family: "Blue Highway Regular";
  margin-left:16px;
  padding-left:24px;
  display:inline-block;
  height:21px;
  font-size:1.2em;
}

#account_maxi_unrealized {
  background-image: image-url("blue_diamond.png");
  background-repeat: no-repeat;
  color:white;
  font-family: "Blue Highway Regular";
  margin-left:16px;
  padding-left:24px;
  display:inline-block;
  height:21px;
  font-size:1.2em;
}

#account_maxi_unrealized span {
  font-family: sans-serif;
  border-bottom:1px dashed white;
  font-size:0.9em;
}

#account_maxi_options {
  box-sizing:border-box;
  padding-left:16px;
}

#account_maxi_options a {
  color: hsl(210, 50, 90);
  text-decoration:none;
  display:block;
  line-height:32px;
}

