#payout_new {
  width:1024px;
  background:#777;
  padding-top:30px;
  padding-bottom:30px;
  box-sizing:border-box;
}

#payout_modifiers_list {
  color:#555;
}

.payout_modifiers_list_left {
  width:75%;
  box-sizing:border-box;
  display:inline-block;
}

.payout_modifiers_list_right {
  width:25%;
  box-sizing:border-box;
  display:inline-block;
  text-align:right;
}

#payout_euro_total {
  font-size:1.6em;
  margin-bottom:16px;
  text-align:right;
  width:100%;
  box-sizing:border-box;
  display:inline-block;
  background-image:image-url('green_right_arrow.png');
  background-repeat:no-repeat;
  background-position:200px 0px;
}

