#paypal_new {
  width:1024px;
  background:#777;
  padding-top:30px;
  padding-bottom:30px;
  box-sizing:border-box;
}

#paypal_new_box {
  background:white;
  width:950px;
  margin:auto;
}

#paypal_new_left {
  padding:32px;
  width:450px;
  display:inline-block;
  box-sizing:border-box;
  vertical-align:top;
}

#paypal_new_left p {
  line-height: 32px;
}

#paypal_new_left h3 {
  margin-top:12px;
  margin-bottom:12px;
  color:#555;
  font-size:1.4em;
  font-weight:normal;
}

.paypal_tickermark {
  font-size:4em;
}

#paypal_new_right {
  padding:32px;
  width:480px;
  display:inline-block;
  box-sizing:border-box;
  vertical-align:top;
  border-left:1px solid #bbb;
}

#paypal_new_right label {
  margin-top:12px;
  margin-bottom:12px;
  color:#555;
  font-size:1.4em;
}

#paypal_new_right form {
  display:block;
}

.paypal_pointselector {
  width:100%;
  box-sizing:border-box;
  height:auto;
  font-size:1.8em;
  padding:8px;
}

#paypal_new_right input[name=commit] {
  background:hsl(200, 80, 30);
  font-family:"Blue Highway Regular", sans-serif;
  font-size:1.05em;
  color:white;
  padding-bottom:6px;
  padding-top:6px;
  padding-left:8px;
  padding-right:8px;
  border:1px solid #ccc;
  cursor:pointer;
}

#paypal_new_submit {
  display:inline-block;
  vertical-align:top;
}

#paypal_new_submit_cards {
  display:inline-block;
  vertical-align:top;
  margin-left:6px;
}

#paypal_country_small {
  color:#555;
}

#paypal_country_total {
  font-size:1.6em;
  margin-bottom:16px;
  text-align:right;
  width:50%;
  box-sizing:border-box;
  display:inline-block;
}

#paypal_country_euro_total {
  font-size:1.6em;
  margin-bottom:16px;
  text-align:right;
  width:50%;
  box-sizing:border-box;
  display:inline-block;
  background-image:image-url('green_right_arrow.png');
  background-repeat:no-repeat;
  background-position:24px 0px;
}

#paypal_country_left {
	box-sizing: border-box;
  width:100%;
  padding:6px;
  display:inline-block;
  vertical-align:top;
}

#paypal_country_right {
  display:inline-block;
  vertical-align:top;
}

#paypal_country_vatrate {
  border-bottom:1px dotted black;
  display:inline;
}

#paypal_country_right_sub {
  padding:6px;
  display:inline-block;
  vertical-align:top;
}

#paypal_country_miniprint {
	font-size:0.8em;
	color:#666;
	font-style: italic;
}

.paypal_right_selector {
	display:inline-block;
	box-sizing: border-box;
	width:50%;
	padding:8px;
	background: hsl(65, 12%, 40%);
	border-bottom:4px solid hsl(65, 12%, 50%);
	color:white;
	text-decoration:none;
	font-family:"Blue Highway Regular";
}

.paypal_right_selector_active {
	display:inline-block;
	box-sizing: border-box;
	width:50%;
	padding:8px;
	background: hsl(65, 12%, 40%);
	border-bottom:4px solid hsl(65, 100%, 50%);
	color:white;
	text-decoration:none;
	font-family:"Blue Highway Regular";
}

