// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-sizing, #new_room_page h4, .wagerselector {
  box-sizing: border-box;
}

#new_room_page {
  background: #000;
  padding:12px;
  color: hsl(244, 13.5, 15);
  font-family: "Blue Highway Regular", sans-serif;
}

#new_room_page h1 {
  font-family:"Blue Highway Regular", sans-serif;
  margin-bottom:12px;
}

#new_room_page h4 {
  font-weight:normal;
  margin-top:12px; margin-bottom:12px;
  width:100%;
  padding:8px;
}

#room_game input[type=radio]:not(old){
  display: none;
}

#room_game label{
  display      : inline-block;
  background   : hsl(244, 13.5, 30);
  width:997px;
  margin-right:4px;
  border: 1px solid hsl(244, 13.5, 33);
  font-size:1.6em;
  padding-top:8px; padding-bottom:8px;
  color:white;
  font-family:"Blue Highway Regular", sans-serif;
  text-align:center;
  position:relative;
}

label[for='room_game_tf2']::after {
  content: "";
  background: image-url('games_selector.png');
  background-repeat: no-repeat;
  background-position: 200px 0px;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

#room_gameoptions, #room_roomoptions {display:inline-block; vertical-align:top;}

.options_header {padding:2px; font-family:sans-serif; font-size:0.8em; font-weight:bold; margin-top:10px; position:relative;}

.room_optionsbox {background:hsl(244,1,40); height:400px; width:497px;position:relative;}

#room_map {
  font-size:1.05em;
  padding:12px;
  font-family:"Blue Highway Regular";
}

#room_map option {
  padding:0px;
}

.bigradiobutton {
  display:block;
  float: left;
  background:#e9ff00;
  border: 1px solid #999;
  padding-bottom:20px; padding-top:20px;
  font-family:sans-serif;
  font-weight:bold;
  color:#fff;
  text-align:center;
  font-size:2em;
  cursor:pointer;
  text-shadow:1px 1px hsl(0, 0%, 0%);
}

#room_playercount label {
  width:25%;
  margin-left:-2px;
}

@keyframes room_playercount_selection {
  from { background-color: hsl(242, 49%, 10%); }
  to { background-color: hsl(242, 49%, 25%); }
}

@keyframes room_playercount_deselection {
  from { background-color: hsl(242, 49%, 25%); }
  to { background-color: hsl(242, 49%, 10%); }
}

.room_playercount_inactive {
  background-color: hsl(242, 49%, 10%);
  # animation: room_playercount_deselection 1s linear 1;
}

.room_playercount_active {
  background-color: hsl(242, 49%, 25%);
  background-image: image-url("selected_playercount.png");
  background-position: center 0;
  background-repeat:no-repeat;
  # animation: room_playercount_selection 1s linear 1;
}

.bigradiobutton input[type=radio]:not(old) {
  display:none;
}

.field_optionsbox, .field_bigradio {
  width:100%;
}

.field_bigradio {
  margin-bottom:100px;
}

#room_playercount label {}

#room_timelimit label {display:inline;}
#room_playercount label {display:inline;}

#room_map {width:100%;}
.wagerselector {width:492px;background:hsl(244,50,10);border:1px solid black;font-size:2em;padding:12px; color:white;}

#room_continent {
  box-sizing:border-box;
  padding:16px;
  font-family:sans-serif;
}
