form {
  display:inline-block;
}

.srules_wagerselect_bg {
  background-color:hsl(244,50,10);
}

#srules_shybar {
  width:99%;
  text-align:right;
  margin-bottom:-18px;
  height:18px;
  margin-right:18px;
  font-size:0.9em;
  color:#666;
  font-style:italic;
}

#srules_info {
  background: #333;
  color: #fff;
  width:1024px;
  text-align:center;
}

.srules_info_column {
  width:500px;
  display:inline-block;
  padding:14px;
  box-sizing:border-box;
  font-size:0.9em;
  text-align:left;
  vertical-align:top;
}

.srules_info_column p {
  line-height:32px;
}

#srules_notice {
  height:48px;
  width:100%;
  background:hsl(0, 80, 65);
  display:none;
  padding:8px;
  box-sizing:border-box;
  text-align:center;
  font-size:1.3em;
}

.srules_hr {
  width:100%;
  height:2px;
  display:block;
}

#srules_buttons {
  background-color:#333;
  width:1024px;
}

#srules_wager {
  background-color:#333;
  padding:12px;
  width:508px;
  display:inline-block;
  box-sizing:border-box;
}

#srules_ready {
  background-color:#333;
  padding:12px;
  width:508px;
  display:inline-block;
  box-sizing:border-box;
  vertical-align:top;
}

#srules_wagerform {
  background-color:hsl(244,50,24);
  border:1px solid #333;
  padding-right:12px;
  height:53px;
  width:240px;
}

.srules_wagerselect {
  box-sizing:border-box;
  border:1px solid #aaa;
  padding:2px;
  vertical-align:top;
  height:61px;
}

#srules_wagerselector_outer {
  padding:10px;
  width:110px;
  display:inline-block;
  vertical-align:top;
}

#srules_wagerselector {
  width:110px;
  font-size:1.6em;
  padding-left:32px;
  color:white;
  display:inline-block;
  background-color:hsl(244,50,24);
  background-position:7px 7px;
  border:1px solid #eaff00;
  font-family:"Blue Highway Regular";
  box-sizing:border-box;
}

#srules_wagersubmitc {
  border:1px solid #aaa;
  width:94px;
  display:inline-block;
  margin-top:15px;
  vertical-align:top;
}

#srules_wagersubmit {
  border:0;
  background:#eee;
  width:90px;
  margin:2px;
  color:#226;
  cursor:pointer;
}

#srules_wagersubmit:hover {
  background:#fafafa;
}

#srules_roomwager_label {
  display:inline-block;
  font-size:0.7em;
  color:#aaa;
  font-style:italic;
  width:70px;
  margin-left:4px;
  margin-top:25px;
  vertical-align:top;
}

#srules_roomwager {
  width:100px;
  border:0;
  font-size:1.6em;
  padding:12px;
  color:#aaa;
  display:inline-block;
  text-align:right;
  font-family: "Blue Highway Regular";
  vertical-align:top;
}

#srules_readylabel {
  padding:10px;
  padding-left:44px;
  font-size:1.6em;
  color:white;
  width:240px;
  display:inline-block;
  font-family: "Blue Highway Regular";
  box-sizing:border-box;
}

#srules_readybutton_outer {
  display:inline-block;
  vertical-align:top;
  margin-top:6px;
  border:1px solid hsl(224,25,55);
}

#srules_readybutton {
  width:218px;
  height:40px;
  background:hsl(65,100,25);
  border:1px solid hsl(65,100,50);
  font-size:1.3em;
  color:white;
  font-family: "Blue Highway Regular";
  cursor:pointer;
}

#srules_readybutton:hover {
  background:hsl(65,100,35);
}

#srules_readybutton:active {
  background:hsl(65,100,15);
}

#srules_players_chat {
  background:#333;
}

#srules_players_container {
  vertical-align:top;
  display:inline-block;
  width:606px;
}

#srules_teamselect {
  width:606px;
  background:#0e0d26;
  display:none;
  vertical-align:top;
  height:64px;
}

#srules_teamselect_red {
  margin-left:32px;
  margin-top:16px;
  width:250px;
  height:32px;
  display:inline-block;
  background:hsl(2,66,25);
  border:1px solid hsl(2,66,50);
  font-size:1.3em;
  color:white;
  font-family: "Blue Highway Regular";
  cursor:pointer;
}

#srules_teamselect_red:hover {
  background:hsl(2,66,35);
}

#srules_teamselect_red:active {
  background:hsl(2,66,15);
}

#srules_teamselect_blu {
  margin-left:32px;
  margin-top:16px;
  width:250px;
  height:32px;
  display:inline-block;
  background:hsl(180,66,25);
  border:1px solid hsl(180,66,50);
  font-size:1.3em;
  color:white;
  font-family: "Blue Highway Regular";
  cursor:pointer;
}

#srules_teamselect_blu:hover {
  background:hsl(180,66,35);
}

#srules_teamselect_blu:active {
  background:hsl(180,66,15);
}

#srules_team_leave {
  width:606px;
  background:#0e0d26;
  display:none;
  vertical-align:top;
  height:64px;
  text-align:center;
}

#srules_teamselect_leave {
  margin:auto;
  margin-top:16px;
  width:250px;
  height:32px;
  display:inline-block;
  background:hsl(224,25,25);
  border:1px solid hsl(224,25,50);
  font-size:1.3em;
  color:white;
  font-family: "Blue Highway Regular";
  cursor:pointer;
}

#srules_teamselect_leave:hover {
  background:hsl(224,25,35);
}

#srules_errormessages {
  display:none;
  width:100%;
  padding:8px;
  background:hsl(0, 66, 55);
}

#srules_players {
  width:606px;
  background:#0e0d26;
  display:inline-block;
  vertical-align:top;
}

.srules_player {
  width:200px;
  display:inline-block;
  margin-right:1px;
  margin-bottom:2px;
  margin-left:1px;
  box-sizing:border-box;
  vertical-align:top;
}

#srules_chatbox {
  width:410px;
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
  padding:12px;
}

#srules_chatbox_text {
  border:1px solid #ccc;
  background:#ddd;
  width:100%;
  height:380px;
  overflow:scroll;
  padding:8px;
  box-sizing:border-box;
}

#srules_chatbox_insertzone {
  border:1px solid #ccc;
  background:#ddd;
  width:100%;
  height:70px;
  margin-top:8px;
}

#srules_chatbox_input {
  width:298px;
  display:inline-block;
  height:70px;
  vertical-align:top;
  resize:none;
  padding:4px;
  box-sizing:border-box;
  font-family:sans-serif;
}

#srules_chatbox_inputsubmit {
  width:88px;
  height:70px;
  display:inline-block;
  vertical-align:top;
  background:hsl(65,100,50);
}

.srules_chatbox_message {
  padding:4px;
}

.srules_chatbox_steamname {
  font-family: "Blue Highway Regular";
  display:inline;
}

.srules_chatbox_messagecontent {
  display:inline;
}
