// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_room_page {
  background: #aaa;
  color:#444;
  padding:12px;
  font-family: "Blue Highway Regular", sans-serif;
}

#new_room_page h1 {
  font-family:"Blue Highway Regular", sans-serif;
  margin-bottom:12px;
}

#new_room_page h4 {
  font-weight:normal;
  margin-top:12px; margin-bottom:12px;
  background:#aaa;
  width:454px;
  padding:8px;
  box-sizing:border-box; 
}

#room_game input[type=radio]:not(old){
  display: none;
}

#room_game label{
  display      : inline-block;
  background   : #660;
  width:100%;
  margin-right:4px;
  border: 1px solid #999;
  background-image: image-url('background_room_button.png');
  font-size:1.6em;
  padding-top:8px; padding-bottom:8px;
  color:white;
  font-family:"Blue Highway Regular", sans-serif;
  text-align:center;
  position:relative;
}

label[for='room_game_tf2']::after {
  content: "";
  background: image-url('games_selector.png');
  background-repeat: no-repeat;
  background-position: 200px 0px;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

#room_gameoptions, #room_roomoptions {display:inline-block; vertical-align:top;}

.options_header {background:#db0; padding:2px; font-family:sans-serif; font-size:0.8em; font-weight:bold; margin-top:10px; position:relative;}

.options_header::after {
  content: "";
  position:absolute;
  background-image:image-url('background.png');
  z-index:1;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0.2;
}

.room_optionsbox {background:#999; height:400px; width:497px;position:relative;}

.room_optionsbox::after {
  content: "";
  position:absolute;
  background-image:image-url('background.png');
  z-index:1;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0.05;
}

.bigradiobutton {
  display:block;
  float: left;
  background:#660;
  border: 1px solid #999;
  background-image: image-url('background_room_button.png');
  padding-bottom:20px; padding-top:20px;
  font-family:sans-serif;
  font-weight:bold;
  color:#fff;
  text-align:center;
  font-size:2em;
  cursor:pointer;
}

#room_playercount label {
  width:25%;
  margin-left:-2px;
}

.bigradiobutton input[type=radio]:not(old) {
  display:none;
}

.field_optionsbox, .field_bigradio {
  margin-left:20px;
  width:454px;
}

#room_playercount label {}

#room_timelimit label {display:inline;}
#room_playercount label {display:inline;}
