#serverstatus_center {
  width:100%;
  box-sizing:border-box;
}

#s_triage_database, #s_triage_redis, #s_triage_mq {
  display: inline-block;
  width:341px;
  height:160px;
  margin:0px;
  text-align:center;
  color:#333;
  vertical-align:top;
}

#s_triage_database {
  background:hsl(180, 75%, 75%);
}

#s_triage_redis {
  background:hsl(0, 75%, 75%);
}

#s_triage_mq {
  background:hsl(45, 75%, 75%);
}

#s_triage_database_inner, #s_triage_redis_inner, #s_triage_mq_inner {
  background-repeat: no-repeat;
  background-position: center;
  width:100px;
  height:80px;
  margin:auto;
  margin-top:12px;
  margin-bottom:12px;
}

#s_triage_database_inner {
  background-image: image-url('postgres.png');
}

#s_triage_redis_inner {
  background-image: image-url('redis.png');
}

#s_triage_mq_inner {
  background-image: image-url('rabbitmq.png');
}

.servers_game_name {
  margin:32px;
  background:#333;
  min-height:160px;
}

.servers_game_name_label {
  display:inline-block;
  background:#666;
  color:white;
  padding:8px;
  font-size:1.2em;
  margin-left:-4px;
  margin-top:-4px;
}

.servers_game_name_lastseen {
  display:inline-block;
  margin-left:12px;
  color:white;
}

.servers_game_list {
  width:100%;
  height:64px;
  margin-bottom:-4px;
}

.servers_game_single {
  display:inline-block;
  background:#222;
  width:92px;
  height:64px;
}

.servers_room {
  display:inline-block;
  width:192px;
  box-sizing:border-box;
  border:4px solid transparent;
  background:#666;
  margin:16px;
  padding:16px;
  font-size:0.8em;
  color:white;
  cursor:pointer;
}

.servers_room:hover {
  border:4px solid hsl(65, 70%, 50%);
}

