@font-face {
    font-family: "Blue Highway Regular";
    src: font-url("blue_highway_rg.ttf"), font-url("blue_highway_rg.eot");
}
body {
    text-align: center;
    background-color: #606060;
    background-image: image-url('background.png');
	background-repeat:repeat-x;
    margin: 0;
    font-family: sans-serif;
}
#main {
    width: 1024px;
    margin: auto;
    text-align: left;
	margin-top:-22px;
}
#header {
    margin: 0;
    width: 100%;
    text-align: center;
    height: 4px;
    background: #e9ff00;
}
#headermain {
    text-align: left;
    width: 1012px;
    margin: auto;
}
#headbar {
    width: 100%;
    height: 81px;
    margin-top: 16px;
    background-repeat: repeat-x;
    background-image: image-url("head_gradient.png");
	text-align:center;
}
#headbar_inner {
	width:1024px;
	margin:auto;
}
#headbarlogo {
    float: left;
    background-image: image-url("gamerist.png");
    background-position: 320px;
    background-repeat: no-repeat;
    width: 681px;
    height: 81px;
}
#headbar_right {
    width: 330px;
    height: 81px;
    float: right;
}
#headbar_right_content {
    font-family: "Blue Highway Regular", sans-serif;
    font-size: 20px;
    color: white;
    text-align: right;
    padding-top: 32px;
    padding-right: 8px;
}
#headbar_left {
    width: 320px;
    height: 81px;
    float: left;
}
#headbarlogo_link {
    width: 361px;
    height: 81px;
    float: right;
}
#content {
    width: 1024px;
    margin: auto;
    background: white;
}
#content_body { padding: 16px }
#frosted_glass {
    width: 1024px;
    height: 256px;
    background-image: image-url("crystal_field.png");
}
#win_games {
    padding: 32px;
    font-family: "Blue Highway Regular", sans-serif;
    font-size: 42px;
    color: #e9ff00;
}
#win_games_mini {
    font-family: "Blue Highway Regular", sans-serif;
    font-size: 26px;
    line-height: 32px;
    color: #e9ff00;
    padding-left: 32px;
    width: 400px;
}
#frosted_glass_left {
    display: inline-block;
    width: 600px;
    vertical-align: top;
}
#frosted_glass_right {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
#fg_slideshow { margin: 0px; margin-left:32px;}
#fg_slideshow_image {
    height: 200px;
    width: 355px;
    background: black;
    background-image: image-url("slide_game_screenshots.jpg");
}
#fg_slideshow_text_outer {
    margin-top: -24px;
    margin-left: -16px;
}
#fg_slideshow_text_inner {
    background: #222;
    height: 40px;
    width: 300px;
    box-shadow: -4px 4px #952;
    border: 1px solid black;
}
#fg_slideshow_text_inner_content1 { }
#fg_slideshow_text_inner_content2 { display: none }
.fg_slide_title {
    padding-left: 64px;
    padding-top: 12px;
    color: white;
    font-size: 20px;
    font-family: "Blue Highway Regular";
    position: absolute;
}
#fg_slideshow_icon {
    height: 48px;
    width: 48px;
    background-image: image-url("game_logos_48.png");
    background-position: 0px 0px;
    margin-top: -44px;
    margin-left: 4px;
}
#adduser_outer {
    width: 960px;
    padding: 32px;
}
#adduser_inner {
    background: #555;
    padding: 32px;
    border: 1px solid #888;
    box-shadow: 4px 4px #444;
}
#adduser_form {
    display: inline-block;
    width: 432px;
    border-right: 1px solid gray;
    vertical-align: top;
}
#adduser_side {
    display: inline-block;
    width: 432px;
    vertical-align: top;
    padding-left: 12px;
}
#flashMessage {
    width: 960px;
    padding: 32px;
    background: #d77;
}
#login_page_outer { }
#login_page_inner { padding: 32px }
#login_email_username { padding: 32px }
#login_email_password { padding-left: 32px }
#UserUsername {
    height: 32px;
    width: 300px;
}
label { display: block }
p {
    margin: 0;
    padding: 0;
}
.floatleft { float: left }
.floatright { float: right }
.shinygreen { color: #00ff33 }